.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E2D4E;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin: 10px auto; /* Centraliza o cartão */
  }
  
  .card p {
    color: #fff;
    font-weight: bold;
  }
  
  .card p span {
    font-weight: normal;
  }
  
  .card button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .card button:hover {
    opacity: 0.5;
  }
  